<div class="items-center justify-center min-h-screen bg-gray-100">
  <div class="p-8 rounded-lg w-full inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
    <h2 class="text-3xl font-bold text-center text-primary mb-6">Add Device</h2>
    <form action="#" method="POST" enctype="multipart/form-data" class="space-y-6">
      <div class="grid lg:grid-cols-2 gap-6">
        <div>
          <label for="name" class="block text-sm font-medium text-gray-700">Device Name</label>
          <input
            type="text"
            id="name"
            name="name"
            required
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-primary focus:border-primary"
          />
        </div>
        <div>
          <label for="userHouseId" class="block text-sm font-medium text-gray-700">House ID</label>
          <input
            type="number"
            id="userHouseId"
            name="userHouseId"
            required
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-primary focus:border-primary"
          />
        </div>
        <div>
          <label for="watt" class="block text-sm font-medium text-gray-700">Watt</label>
          <input
            type="number"
            id="watt"
            name="watt"
            required
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-primary focus:border-primary"
          />
        </div>
        <div>
          <label for="quantity" class="block text-sm font-medium text-gray-700">Quantity</label>
          <input
            type="number"
            id="quantity"
            name="quantity"
            required
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-primary focus:border-primary"
          />
        </div>
        <div>
          <label for="amp" class="block text-sm font-medium text-gray-700">Amp</label>
          <input
            type="number"
            id="amp"
            name="amp"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-primary focus:border-primary"
          />
        </div>
      </div>
      <div>
        <button
          type="submit"
          class="w-full bg-primary text-white px-4 py-2 rounded-lg shadow-lg font-semibold hover:bg-primary transition duration-300"
        >
          Add Device
        </button>
      </div>
    </form>
  </div>
</div>
