<!-- Sidebar -->
<aside id="sidebar" class="bg-gray-800 text-white w-64 flex-shrink-0 hidden md:block">
  <nav class="p-4">
    <ul class="space-y-2">
      <li><a href="/admin" class="block py-2 px-4 hover:bg-gray-700 rounded">Dashboard</a></li>
      <li>
        <a href="/admin/products" class="block py-2 px-4 hover:bg-gray-700 rounded">All Products</a>
      </li>
      <li>
        <a href="/admin/installation-requests" class="block py-2 px-4 hover:bg-gray-700 rounded"
          >Installation Requests</a
        >
      </li>

      <!-- <li><a href="#" class="block py-2 px-4 hover:bg-gray-700 rounded">Reports</a></li>
      <li><a href="#" class="block py-2 px-4 hover:bg-gray-700 rounded">Settings</a></li> -->
    </ul>
  </nav>
</aside>
